DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
SECRET_KEY='django-insecure-#t@*qknfjkdfn8q42bc!kih1)z_y8rkyf(dfkgmdngdojfngdjn' # ключ Django
